div.wrapper {
    width: 100%;
    overflow: hidden;
  }
  div.wrapper > div.menu {
    width:100%;
    height: 50px;
    box-shadow: 0 1px 5px #d3d3d3;
    display: flex;
    flex-flow: row wrap;
    column-gap: 2px;
  }
  div.wrapper > div.menu > div {
   flex: 0 0 1;
    height: inherit;
  }
  div.wrapper > div.menu > div:nth-of-type(1),
  div:nth-of-type(2) {
    height: inherit;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
  }
  div.wrapper > div.menu > div:nth-of-type(2) {
    justify-content:space-evenly;
  }
  div.wrapper > div.menu > div > a {
    text-decoration: none;
    color: var(--lightgray);
    margin: 3px;
    font-size: 6px;
    transition: 400ms;
  }
  div.wrapper > div.menu > div > a:nth-of-type(5) {
    padding: 5px;
    border: 1px sold #2b2b2b;
    color: whitesmoke;
    background-color: #2b2b2b;
    border-radius: 5px;
  }
  div.wrapper > div.menu > div > a:hover {
    color: lightgray;
  }
  div.explore {
    position: relative;
    width: 88%;
    top: 20px;
    left: calc(50% - 88% / 2);
    background-color: whitesmoke;
    height: 420px;
    border-radius: 15px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 3px;
  }
  div.wrapper > div.explore > div {
    flex: 1 1 0;
    height: inherit;
  }
  div.wrapper > div.explore > div:nth-of-type(1) {
    height: inherit;
    justify-content: flex-start;
    display: flex;
    flex-flow: column wrap;
  }
  div.wrapper > div.explore > div > h1,
  h4 {
    text-align: left;
    font-weight: bolder;
    font-size: 20px;
    margin: 8px;
    padding: 8px;
  }
  div.wrapper > div.explore > div > h1:nth-of-type(1) {
    background-color: white;
    width: 120px;
  }
  div.wrapper > div.explore > div > h1:nth-of-type(3) {
    background-color: #ebd96b;
    width: 170px;
  }
  div.wrapper > div.explore > div > h4 {
    font-size: 15px;
    font-weight: lighter;
  }
  div.wrapper > div.explore > div > a {
    text-decoration: none;
    color: white;
    border: 1px solid #2b2b2b;
    padding: 8px;
    font-size: 8px;
    text-align: center;
    width: 70px;
    background-color: black;
    border-radius: 6px;
    margin-left: 20px;
    transition: 300ms;
  }
  div.wrapper > div.explore > div > a:hover {
    background-color: #2b2b2b;
  }
  div.wrapper > div.explore > div:nth-of-type(2) {
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column wrap;
  }
  div.wrapper > div.explore > div:nth-of-type(1) > img {
    width: 50px;
  }
  div.wrapper > div.explore > div:nth-of-type(2) > img {
    width: 230px;
  }
  div.wrapper > div.brands {
    width:var(--width);
    position: relative;
    border-radius: 5px;
    left: calc(50% - 89% / 2);
    top: 30px;
    border-radius: 5px;
    height: 90px;
    background-color: #ebd96b;
    display: flex;
    justify-content: space-evenly;
   flex-direction: row;
  }
  div.wrapper > div.brands > div {
    height: inherit;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
   flex-direction: row;
    column-gap: 5px;
    width: inherit;
  }
  div.wrapper > div.brands > div > a {
    width: 100px;
    height: 30px;
    text-align: center;
    justify-content: center;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    mix-blend-mode: multiply;
    margin-left: 2px;
  }
  div.wrapper > div.brands > div > a > img {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  div.wrapper > div.brands > div > a > img:hover {
    transform: scale(1.2);
  }
  div.wrapper > div.arrivalas {
    width: 89%;
    left: calc(50% - 89% / 2);
    height: 340px;
    top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    position: relative;
    padding: 0 5px;
    justify-content: flex-start;
    overflow: hidden;
  }
  div.arrivalas > img {
    width: 100px;
    position: absolute;
  }
  div.wrapper > div.arrivalas > div {
    top: 32px;
    overflow: hidden;
    left: 8%;
    position: relative;
    width: 130px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0;
    column-gap: 0;
  }
  div.wrapper > div.arrivalas > div > img {
    width: 120px;
    filter: drop-shadow(1px 1px 5px #2b2b2b);
    height: 210px;
    overflow: hidden;

  }
  div.wrapper>div.arrivalas>div:nth-of-type(2){
    margin-bottom: unset;
  }
  div.wrapper > div.arrivalas > div> div.cover {
    width: 250px;
    height: 340px;
    left: -100%;
    top: 0;
    position: absolute;
    background-color: rgba(211, 211, 211, 0.685);
    transition: 400ms;
    display: none;
  }
  div.wrapper > div.arrivalas > div > div.cover > h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    color: chocolate;
    font-style: italic;
    text-shadow: 1px 1px 5px black;
  }
  div.wrapper > div.arrivalas > div> div.cover > a {
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20%;
    margin-top: 10px;
    padding: 6px;
    color: chocolate;
    background-color: #ebd96b;
    border: 1px solid chocolate;
    transition: 400ms;
  }
  div.wrapper > div.arrivalas > div:nth-of-type(1)> div.cover > a:hover {
    background-color: #2b2b2b;
  }
  div.wrapper > div.arrivalas:hover > div> div.cover {
    left: 0;
  }
  
  div.wrapper > div.arrivalas > div > div.text {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    align-content: center;
    top: 5px;
  }
  div.wrapper > div.arrivalas > div > div.text > h3 {
    font-size: 9px;
  }
  div.wrapper > div.arrivalas > div > div.text > a {
    text-decoration: none;
    color: gray;
    margin: 1px;
    transition: 300ms;
    font-size: 9px;
  }
  div.wrapper > div.arrivalas > div > div.text > a:hover {
    color: #2b2b2b;
  }
  div.wrapper > div.payday {
    width: 89%;
    left: calc(50% - 89% / 2);
    position: relative;
    height: 300px;
    top: 30px;
    background-color: rgb(227, 198, 66);
    display: flex;
    flex-flow: row wrap;
  }
  div.wrapper > div.payday > div:nth-of-type(1) {
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    display: flex;
    flex-direction: row;
  }
  div.wrapper > div.payday > div:nth-of-type(1) > img {
    width: 300px;
    height: 300px;
  }
  div.wrapper > div.payday > div:nth-of-type(2) {
    width: 50%;
    display: inline-block;
    text-align: left;
  }
  div.wrapper > div.payday > div:nth-of-type(2) > h2 {
    font-size: 26px;
    font-weight: bolder;
    margin: 5px;
    font-style: oblique;
    text-shadow: 1px 1px 5px #2b2b2b;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
  }
  div.wrapper > div.payday > div:nth-of-type(2) > h2:hover{
      color: #ebd96b;
  }
  div.wrapper > div.payday > div:nth-of-type(2) > h2:nth-of-type(1) {
    background-color: whitesmoke;
    width: 180px;
  }
  div.wrapper > div.payday > div:nth-of-type(2) > h4 {
    font-size: 16px;
    font-weight: lighter;
    font-style: oblique;
    text-shadow: 1px 1px 5px #2b2b2b;
  }
  div.wrapper > div.payday > div:nth-of-type(2) > h3 {
    font-weight: bolder;
    margin: 5px;
    font-style: oblique;
  }
  div.wrapper > div.payday > div:nth-of-type(2) > a {
    margin: 8px;
    color: whitesmoke;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    text-decoration: none;
    transition: 300ms;
    font-weight: lighter;
    font-size: 13px;
  }
  
  div.wrapper > div.payday > div:nth-of-type(2) > a:hover {
    background-color:chocolate;
  }
  div.wrapper > div.favourite {
    display: flex;
    flex-direction: row;
    width: 89%;
    position: relative;
    left: calc(50% - 89% / 2);
    top: 40px;
    height: 265px;
    column-gap: 18px;
  }
  div.wrapper > div.favourite > img {
    width: 180px;
    position: absolute;
  }
  div.wrapper > div.favourite > div {
    width: 50%;
    padding: 0 15px;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
  }
  div.wrapper > div.favourite > div > img {
    width: 80%;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
  }
  div.wrapper > div.favourite > div:hover > img {
    filter: drop-shadow(2px 2px 5px #2b2b2b);
    -webkit-filter: drop-shadow(2px 2px 5px #2b2b2b);
  }
  div.wrapper > div.favourite > div > div.text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  div.wrapper > div.favourite > div > div.text > h3{
    font-size: 12px;
  }
  div.wrapper > div.favourite > div > div.text > a {
    text-decoration: none;
    color: gray;
    margin: 5px;
    transition: 300ms;
    font-size: 10px;
  }
  div.wrapper > div.favourite > div > div.text > a:hover {
    color: #2b2b2b;
  }
  div.wrapper > div.download {
    display: flex;
    flex-direction: row;
    width: 89%;
    position: relative;
    left: calc(50% - 89% / 2);
    top: 25px;
    height: 360px;
    column-gap: 20px;
    background-color: whitesmoke;
  }
  div.wrapper > div.download > div {
    width: 50%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
  }
  div.wrapper > div.download > div > h1 {
    font-weight: bolder;
    font-style: oblique;
    text-shadow: 1px 1px 5px #2b2b2b;
    font-size: 20px;
  }
  div.wrapper > div.download > div > h4 {
    color: gray;
    font-weight: lighter;
    font-size: 16px;
    text-transform: lowercase;
    font-style: oblique;
  }
  div.wrapper > div.download > div > a > img {
    width: 180px;
  }
  div.wrapper > div.download > div:nth-of-type(2) > img {
    width: 220px;
    height: 360px;
  }
  div.wrapper > div.download > div:nth-of-type(2):hover > img{
      filter: drop-shadow(1px 1px 5px #2b2b2b);
      -webkit-filter: drop-shadow(1px 1px 5px #2b2b2b);
  }
  div.wrapper > div.join {
    width: 89%;
    height: 270px;
    background-color: rgb(229, 198, 67);
    position: relative;
    left: calc(50% - 89% / 2);
    text-align: center;
    top: 15px;
  }
  div.wrapper > div.join > form {
    position: relative;
    margin: 0 auto;
    top: 40px;
    left: 4%;
  }
  
  div.wrapper > div.join > form > input {
    font-size: 20px;
    transition: 0.5s;
  }
  div.wrapper > div.join > form > input[type="text"] {
    background-color: whitesmoke;
    height: 40px;
    width: 290px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 5px;
    font-size: 16px;
  }
  div.wrapper > div.join > form > input[type="submit"] {
    background-color: #2b2b2b;
    color: whitesmoke;
    font-size: 12px;
    position: relative;
    height: 30px;
    width: 90px;
    left: -100px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 20px;
    transition: 500ms;
    border-radius: 5px;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
  }
  div.wrapper > div.join > form > input[type="submit"]:hover {
      width: 60px;
      padding: 0;
      font-size: 10px;
      height: 15px;
    background-color: black;
  }
  div.wrapper > div.join > div {
    position: relative;
    top: 10%;
    margin: 0 auto;
  }
  div.wrapper > div.join > div > h1 {
    font-size: 22px;
    color: whitesmoke;
    font-style: italic;
    text-shadow: 1px 1px 5px lightgray;
  }
  div.wrapper > div.join > div > h4 {
    font-size: 20px;
    color: whitesmoke;
    font-weight: lighter;
    text-align: center;
  }
  div.wrapper > div.footer {
    width: 89%;
    height: 198px;
    background-color: black;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    margin-top: 15px;
    column-gap: 9px;
  }
  div.wrapper > div.footer > div {
    margin-top: 30px;
    margin-right: 15px;
  }
  div.wrapper > div.footer > div > img {
    margin-left: 12px;
    width: 110px;
  }
  div.wrapper > div.footer > div > h4 {
    color: lightgray;
    font-size: 12px;
    font-weight: lighter;
  }
  div.wrapper > div.footer > div:nth-of-type(1) > a {
    text-decoration: none;
    margin: 5px;
    font-size: 16px;
    color: black;
    padding: 4px;
    border-radius: 10px;
    background-color: #ebd96b;
  }
  div.wrapper > div.footer > div:nth-of-type(2),
  div:nth-of-type(3),
  div:nth-of-type(4) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 8px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 9%;
    height: 160px;
    font-size: 8px;
  }
  div.wrapper > div.footer > div > a {
    color: lightgray;
    text-decoration: none;
    transition: 300ms;
    font-size: 11px;
    font-style: oblique;
  }
  .wrapper > div.footer > div:nth-of-type(1) > a:nth-of-type(1):hover {
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(24,154,200,1) 14%, rgba(39,150,212,1) 29%, rgba(41,132,219,1) 41%, rgba(51,44,232,1) 84%, rgba(50,45,253,1) 100%);
  }
  div.wrapper > div.footer > div:nth-of-type(1) > a:nth-of-type(2):hover {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  }
  div.wrapper > div.footer > div:nth-of-type(1) > a:nth-of-type(3):hover {
    background: linear-gradient(90deg, rgba(0,196,255,1) 0%, rgba(29,80,253,1) 50%, rgba(67,250,225,1) 100%);
  }
  div.wrapper > div.footer > div:nth-of-type(1) > a:nth-of-type(4):hover {
    background: linear-gradient(90deg, rgba(23,0,255,1) 0%, rgba(29,80,253,1) 50%, rgba(67,250,234,1) 100%);
  }
  div.wrapper > div.footer > div:nth-of-type(2)>a:hover{
    color: #ebd96b;
    font-weight: bold;
  }
  div.wrapper > div.footer > div:nth-of-type(3)>a:hover{
    color: #ebd96b;
    font-weight: bold;
  }
  div.wrapper > div.footer > div:nth-of-type(4)>a:hover{
    color: #ebd96b;
    font-weight: bold;}
  div.ask{
      position: fixed;
      bottom: 50px;
      z-index: 1;
      display: inline-block;
  }
  
  div.ask>a{
    display: inline-block;
    padding: 6px;
    border: 1px solid #ebd96b;
    border-radius: 30px;
    left: 4px;
    background-color: var(--yellowcolor);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    position: relative;
    font-size: 5px;
  }
  div.ask>a>svg{
      display: inline-block;
      position: relative;
      transform: scale(0.6,0.6);
      -webkit-transform: scale(0.6,0.6);
      -moz-transform: scale(0.6,0.6);
      -ms-transform: scale(0.6,0.6);
      -o-transform: scale(0.6,0.6);
}
  div.ask>a:hover{
      background-color: chocolate;
  }
  
  
div.wrapper > div.arrivalas > div:nth-of-type(2)> div.cover2 {
  width: 270px;
  height: 355px;
  left: -100%;
  display: none;
  border-radius: 15px;
  top: 0;
  position: absolute;
  background-color: rgba(211, 211, 211, 0.685);
  transition: 400ms;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
div.wrapper > div.arrivalas > div:nth-of-type(2) > div.cover2 > h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  color: purple;
  font-style: italic;
  margin-left: 20%;
  text-shadow: 1px 1px 5px black;
}
div.wrapper > div.arrivalas > div:nth-of-type(2)> div.cover2 > a {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20%;
  margin-top: 10px;
  padding: 6px;
  color: palevioletred;
  background-color: lightskyblue;
  border: 1px solid yellow;
  transition: 400ms;
}
div.wrapper > div.arrivalas > div:nth-of-type(2)> div.cover2 > a:hover {
  background-color: violet;
  color: #2b2b2b;
}
div.wrapper > div.arrivalas> div:nth-of-type(2):hover> div.cover2 {
  left: 5px;
}

div.wrapper > div.arrivalas > div:nth-of-type(3)> div.cover3 {
  width: 270px;
  height: 355px;
  left: -100%;
  border-radius: 15px;
  top: 0;
  display: none;
  position: absolute;
  background-color: rgba(211, 211, 211, 0.685);
  transition: 400ms;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
div.wrapper > div.arrivalas > div:nth-of-type(3) > div.cover3 > h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  color: skyblue;
  font-style: italic;
  margin-left: 20%;
  text-shadow: 1px 1px 5px black;
}
div.wrapper > div.arrivalas > div:nth-of-type(3)> div.cover3 > a {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20%;
  margin-top: 10px;
  padding: 6px;
  color: lightblue;
  background-color: plum;
  border: 1px solid peru;
  transition: 400ms;
}
div.wrapper > div.arrivalas > div:nth-of-type(3)> div.cover3 > a:hover {
  background-color: lightpink;
  color: #2b2b2b;
}
div.wrapper > div.arrivalas> div:nth-of-type(3):hover> div.cover3 {
  left: 5px;
}
